<template name="header">
  <header>
    <nav class="nav navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">WebSiteName</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <p class="navbar-text"><a href="/wishes">My List</a></p>
          <p class="navbar-text"><a href="/users">Users</a></p>
          <p class="navbar-text pull-right navbar-link">{{> loginButtons align="right"}}</p>
        </div>
      </div>
    </nav>
  </header>
</template>

