<template name="splash">
  <div class="container-fluid">
  {{> header}}
  <main>
  <div class="jumbotron">
    <h1>Share your wishlists</h1>
    <p>
      Make a list and coordinate gift giving with a group of friends or family.
      You can view other's lists and mark their wishes as claimed,
      but you can't see what items on your list have been claimed.
      No more duplicate gifts and no more frantically calling everyone to make
      sure they didn't get the same thing you did.
    </p>
  </div>
  </main>
  </div>
</template>
