<!-- contains several templates for wishes of various states -->

<template name="ownedWish">
  <div class="well">
    <i class="fa fa-trash pull-right"></i>
    <h3>{{name}}</h3>
    <p>{{desc}}</p>
  </div>
</template>

<template name="unclaimedWish">
  <div class="well">
    <button type="button" class="btn btn-default pull-right" id="claim-btn">
      <i class="fa fa-flag"></i>
      <span>Claim</span>
    </button>
    <h3>{{name}}</h3>
    <p>{{desc}}</p>
  </div>
</template>

<template name="claimedWish">
  <div class="well bg-info">
    {{#if ownedByUser this.claimant}}
    <button type="button" class="btn btn-default pull-right" id="unclaim-btn">
      <i class="fa fa-star"></i>
      <span>Unclaim</span>
    </button>
    {{else}}
    <span class="pull-right">
      Claimed by:
      {{getUserName this.claimant}}</span>
    {{/if}}
    <h3>{{name}}</h3>
    <p>{{desc}}</p>
  </div>
</template>
